<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="C:\Logs\internal-nlog.txt">


  <targets>

    <target xsi:type="File"
           name="Nlog"
           fileName="${basedir}\Logs\current.log"
           archiveFileName="${basedir}\Logs\Archives\log.${#####}.log"
           archiveAboveSize="2097152"
           archiveNumbering="Sequence"
           maxArchiveFiles="100"
           layout="${longdate}|${logger}|${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="Nlog" />

  </rules>
</nlog>